extends ../shared/layout

block main-content
    | Total count of hotels:   
    h1= model.length

    ul
        each hotel in model
            li
                a(href="/hotels/" + hotel.id)= hotel.name