doctype
html
head
	title Title
	link(rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css")
	link(rel="stylesheet" href="../lib/bootstrap/css/bootstrap-select.min.css")
	
	link(rel="stylesheet" href="../css/site.css")
	link(rel="stylesheet" href="../css/app.css")
body
	header.nav
	.container
		.navbar-header
			a.navbar-brand(href="/") Animal Hotel
		.navbar-collapse.collapse
			ul.nav.navbar-nav
				li
					a(href="/") Home
				if (user)
					li
						a(href="/auth/profile") #{user.username}
					li
						a(href="/auth/logout") Logout
					li
						a(href="/pet/register") Add pet
					li
						a(href="/hotel/register") Add hotel
				if (!user)
					li
						a(href="/auth/register") Register
					li
						a(href="/auth/login") Login

	.container
		if (errorMessage)
			.alert.alert-danger #{errorMessage}

		block main-content

	footer
		p footeeeer

	include scripts