extends ../shared/layout

block main-content
    ul.list
        each pet in model
            li
                a(href="/pets/" + pet.id)
                    = pet.name


        //-each pet in result
        //-       h1= pet.name