extends ../shared/layout

block main-content
    | Total count of pets:   
    h1= model.length

    ul
        each pet in model
            li
                a(href="/pets/" + pet.id)= pet.name